<div class="col-md card p-3 p-md-4 p-lg-5">
	<section>
		<h1>Horizon</h1>
		<h2>Naturalness in Driver–Car Interaction</h2>
		@@include('people.html')
		<p class="small text-muted">Milano, 14.12.2022</p>
	</section>
	
	<section>
		<h3>Abstract</h3>
		<p>Horizon is an interactive system designed to provide a more natural car-driver interaction by employing human intuitions to control the infotainment system in your car. It enables contextual interactions and helps drivers focus on primary driving tasks while keeping their eyes on the road.</p>
		<p>Horizon simplifies the interactions, reducing cognitive burden and clutter of controls within the car system. It also allows users to optimise the time in between their destination and makes their time spent in the car a meaningful experience. With Horizon, driving can become a personal space and an enjoyable experience, even during the busiest of days. </p>
		<span class="badge rounded-pill text-bg-light">Naturalness</span>
		<span class="badge rounded-pill text-bg-light">Driver–Car Interaction</span>
		<span class="badge rounded-pill text-bg-light">Human–Machine Interaction</span>
		<span class="badge rounded-pill text-bg-light">Automotive</span>
		<span class="badge rounded-pill text-bg-light">Physical Controls</span>
	</section>
	
	<section>
		<figure class="figure">
			<img src="img/render_comp_1.jpeg" class="figure-img img-fluid rounded" alt="A person interacting with the Horizon system">
			<figcaption class="figure-caption">Fig. 1.1: Eyes on the road, a driver using the system of HUD, Cluster Screen, Center Console and Slider Knob</figcaption>
		</figure>
		<h3>The Context</h3>
		<p>You're running late for the office on a Monday morning, feeling stressed. You jump in your car, hoping you will play your favourite song and have a relaxed journey to office. You want to control the seat heating, but instead you're confronted with the navigation system on the screen. You try to go back to the previous menu...but the traffic lights turn green, of course you missed it, you were too busy operating the screen. Now you're rushed by the honking of other drivers. You reach the office feeling tense, frustrated and overwhelmed. You wish you could have had a car system that could have made your morning drive a pleasant and stress-free experience.</p>
	</section>
	
	<section>
		<h3>The Problem</h3>
		<p>Distracted driving has become a major issue and is responsible for 1/5 of all car crashes. The main cause of this is when drivers take their eyes off the road to control the complex car systems. To reduce the burden of this, car systems should be designed so that they use natural interactions and intuitive controls that help the driver maintain focus on primary driving task. People need physical and tangible controls, limiting distractions, and streamlining the number of controls for more natural interaction with their cars. The pain of cluttered controls and increased cognitive burden on the driver to operate these controls leads to a distracted and unpleasant driving experience.</p>
	</section>
	
	<section>
		<h3>The Big Idea</h3>
		<p>Horizon is an interactive system designed to provide a more natural car-driver interaction by employing human intuitions to control the infotainment system in your car. It enables contextual interactions and helps drivers focus on primary driving tasks while keeping their eyes on the road. It simplifies the interactions, reducing cognitive burden and clutter of controls within the car system. With Horizon, your car can finally become your personal space and provide an enjoyable experience, even during the busiest of days. </p>
	</section>
</div>
