<div class="col-md card p-3 p-md-4 p-lg-5">
	<section>
		
		<figure class="figure">
			<img src="img/naturalness_scale.svg" class="figure-img img-fluid" alt="Naturalness Scale">
			<figcaption class="figure-caption">Fig. 2.1: Simon A. Ramm (2018), Naturalness Framework for Driver–Car Interaction</figcaption>
		</figure>
		
		<div class="row mt-4 mb-5">
			<div class="col-md-4">
				<div class="card">
					<img src="img/nat_intuitive.svg" class="card-img-top" alt="Information Table">
					<div class="card-body">
						<h5 class="card-title">Intuitive</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="img/nat_familiarity.svg" class="card-img-top" alt="Information Table">
					<div class="card-body">
						<h5 class="card-title">Familiarity</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="img/nat_freedom.svg" class="card-img-top" alt="Information Table">
					<div class="card-body">
						<h5 class="card-title">Freedom of Control</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div>
			</div>
		</div>
		
		
	</section>
</div>