<nav class="col-md-3 col-lg-2 ps-0">
	<header>
		<a class="nav-link" href="/">
			<img class="logo" src="img/logo.svg" />
		</a>
	</header>
	<ul class="nav sticky-md-top pt-5 flex-column">
		<li class="nav-item">
			<a class="nav-link" id="home" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="naturalness" href="naturalness.html">Naturalness</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="technology" href="technology.html">Technology</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="showcase" href="showcase.html">Showcase</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="mvp" href="mvp.html">MVP</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="video" href="video.html">Video</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="nextsteps" href="nextsteps.html">Next Steps</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="references" href="references.html">References</a>
		</li>
	</ul>
</nav>