<nav class="col-md-3 col-lg-2 ps-md-0" id="main-nav">
	<!-- <header>
		<a class="nav-link" href="/">
			<img class="logo" src="img/logo.svg" />
		</a>
	</header> -->
	<ul class="nav sticky-md-top pt-5 flex-column">
		<li class="nav-item">
			<a class="nav-link" id="home" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="naturalness" href="naturalness.html">Naturalness</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="process" href="process.html">Process</a>
			<ul class="nav nav-pills process">
				<li class="nav-item">
					<a class="nav-link" href="#ref-methodology">Methodology</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-literature">Literature Research</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-ethnography">Digital Ethnography</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-interviews">Interviews</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-firsthand">First-hand experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-insights">Overlapping insights</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-valueprop">Value proposition</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-brief">Brief</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-concept">Concept Development</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-fieldtesting">Field Testing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-benchmarking">Benchmarking</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-naturalness">Naturalness</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-positioning">Positioning</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-meaning">Meaning</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-flows">User Flows</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-testing">Testing</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="showcase" href="showcase.html">Showcase</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="mvp" href="mvp.html">MVP</a>
			<ul class="nav nav-pills mvp">
				<li class="nav-item">
					<a class="nav-link" href="#ref-system">MVP System Map</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-mvparchitecture">MVP Architecture</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-processes">Background Processes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-realarchitecture">Real Architecture</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-model">Model</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-connections">Connections</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-interface">Interface</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ref-wholesystem">Whole System</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="video" href="video.html">Video</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="poster" href="poster.html">Poster</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="nextsteps" href="nextsteps.html">Next Steps</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="references" href="references.html">References</a>
		</li>
	</ul>
</nav>