<div class="col-md card p-2 p-md-3 p-lg-5">
	<section>
		<h3>Methodology</h3>
		<p>Horizon team sculpted their own non-linear process for developing the system as it is now. It was an iterative process that involves developing an understanding of the system as a whole, analysing the individual components, and then iteratively refining the design to meet the desired objectives extracted from on going research during each phase. This approach was particularly effective when used to develop MVP system that required a large number of testings and iterations.</p>
		<figure class="figure">
			<img src="img/methodology.svg" class="figure-img img-fluid" alt="Methodology">
			<figcaption class="figure-caption">Fig. 3.1: Our iterative methodological process.</figcaption>
		</figure>	
	</section>
	<section>
		<h3>Literature Research</h3>
		<p>Kicked off the process by basic understanding of controls in car divided amongst secondary and primary interactions. Also the team began exploring naturalness in driver car interaction and what could make interactions unnatural in new developing systems.> Once the team had insights we began clustering them into through the tool of affinity mapping in order to get more concrete direction on the process.</p>
		<figure class="figure">
			<img src="img/pri_sec_interactions.svg" class="figure-img img-fluid" alt="Primary and Secondary Interactions">
			<figcaption class="figure-caption">Fig. 3.2: The Primary and Secondary Interactions of Driving</figcaption>
		</figure>	
	</section>
</div>