<div class="main-content col-md card p-3 p-md-4 p-lg-5">
	<section>
		<figure class="figure video">
			<iframe src="https://www.loom.com/embed/68d0411cd07d451b98d21ff516880a76" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<figcaption class="figure-caption">Fig. 4.1: Video showcasing the system, Horizon, in action</figcaption>
		</figure>
		
		<figure class="figure">
			<img src="img/exhibit_overview.svg" class="figure-img img-fluid rounded" alt="Information Table">
			<figcaption class="figure-caption">Fig. 4.1: An overview of the Horizon exhibition setup. Scroll down for detailed information about each stage.</figcaption>
		</figure>
		
		<div class="row mt-4 mb-5 exhibit-overview">
			<div class="col-md-4">
				<div class="card">
					<img src="img/stage1.jpg" class="card-img-top" alt="Information Table">
					<div class="card-body">
						<h5 class="card-title">1. Information Table</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="img/stage2.jpg" class="card-img-top" alt="Driving Simulation">
					<div class="card-body">
						<h5 class="card-title">2. Immersive Experience</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="img/stage3.jpg" class="card-img-top" alt="Feedback Wall">
					<div class="card-body">
						<h5 class="card-title">3. Feedback Wall</h5>
					</div>
				</div>
			</div>
		</div>
		
		<div class="accordion" id="accordionPanelsStayOpenExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
						1. Information Table
					</button>
				</h2>
				<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
					<div class="accordion-body">
						<figure class="figure">
							<img src="img/stage1.jpg" class="figure-img img-fluid rounded" alt="Information Table">
							<figcaption class="figure-caption">Fig. 4.2: People getting introduced to the project</figcaption>
						</figure>
						<p>Initially, visitors were greeted by a team member of Horizon to explain the project and answer potential questions. The team had a video to demonstrate the product, as well as various prototypes that were made during the iterative design process.</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
						2. Immersive Experience
					</button>
				</h2>
				<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
					<div class="accordion-body">
						<figure class="figure">
							<img src="img/stage2.jpg" class="figure-img img-fluid rounded" alt="Driving Simulator">
							<figcaption class="figure-caption">Fig. 4.3: Interacting with the system of sliding knob, center stack display, HUD and cluster screen</figcaption>
						</figure>
						<p>The main event was the driving simulator as a representation of the overall system. A real car seat, along with primary interactions such as pedals and steering wheel, completed the experience. People were invited to explore the Horizon system composed of HUD, cluster screen, center stack and slider knob.</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
						3. Feedback Wall
					</button>
				</h2>
				<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
					<div class="accordion-body">
						<figure class="figure">
							<img src="img/stage3.jpg" class="figure-img img-fluid rounded" alt="Feedback Wall">
							<figcaption class="figure-caption">Fig. 4.4: Collecting valuable external input</figcaption>
						</figure>
						<p>Finally, the feedback wall existed to collect inputs. Valuable points of view were collected and sorted into two categories of appreciation and improvements. These were then clustered and taken into consideration for future development steps.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h3>Simulation Details</h3>
		<figure class="figure">
			<img src="img/exhibit_detail.svg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig 4.5: Annotated Diagram of Driving Simulator</figcaption>
		</figure>
		<div class="row">
			<p>Our main showcase element, the driving simulation, was broken down into four interactive elements which are part of the Horizon system, and four objects which were meant to enhance the driving experience.</p>
			<div class="col-sm-6">
				<ul>
					<li>1. Two widescreen monitors playing a <a href="https://www.youtube.com/watch?v=_nS2FvZ0h2g">driving video</a></li>
					<li>2. Reflective film simulating Heads-Up Display (HUD)</li>
					<li>3. Clear acrylic sheet simulating glass windscreen</li>
					<li>4. iPhone to reflect in HUD film</li>
					<li>5. iPad showing Cluster Screen</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<ul>
					<li>6. iPad showing Center Stack Display</li>
					<li>7. Horizon Sliding Knob</li>
					<li>8. Pedals</li>
					<li>9. Steering Wheel</li>
					<li>10. Real car seat</li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<figure class="figure">
			<img src="img/feedback.svg" class="figure-img img-fluid" alt="Feedback wall">
			<figcaption class="figure-caption">Fig 4.6: Feedback wall</figcaption>
		</figure>
	</section>
</div>