<div class="col-md card p-3 p-md-4 p-lg-5">
	<section>
    <figure class="figure video">
      <iframe src="https://www.loom.com/embed/a49f03fe2d484a8b9a7dda72ca51306e" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <figcaption class="figure-caption">Fig. 6.1: Video showcasing the system, Horizon, in action</figcaption>
    </figure>
	</section>
  <section>
    <h3>Story Overview</h3>
    <p>The video begins in a dark, nightmare-like reality, where a driver is struggling to navigate their car's complex, over cluttered, and over nested controls. This creates an overwhelming sense of frustration and helplessness. However, when the product is introduced, the scene transitions to a dreamy reality where the controls are simplified, intuitively designed, and easy to use. Horizon, a physical x digital system of secondary controls utilising contextual, multifunctional slider knob.</p>
    <p>This contrast showcases the value of the product, as it creates a positive, stress-free experience for the driver. The dreamy reality symbolises the relief and satisfaction that the product offers, emphasising its ability to help drivers navigate their car's controls with ease.</p>
  </section>
  <section class="storyboard">
    <h3>Storyboard</h3>
    <figure class="figure">
			<img src="img/storyboard_1.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.2: Monday morning, Max is running late for office and enters his car in a hurry.</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_2.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.3: Once he started the car, the central stack showed navigation, he tried to exit the page and changed into music page.</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_3.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.4: Due to the nested UI system, he can’t make it in a second. Max starts feeling frustrated and annoyed as he’s running late.</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_4.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.5: He leaves and it’s snowing outside, Max starts feeling cold and wants to turn up the temperature while waiting on the traffic signal.</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_5.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.6: Max has to look at the display, meanwhile he must focus on the road. Suddenly, before he finishes the temperature adjustment, the light turns green and cars around start honking to rush him!</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_6.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.7: Max tests Horizon system at car dealership. He is informed on the five system defaults. He continues to interact to understand the vibration and audio feedbacks. He feels satisfied to purchase 
				Max gets the Horizon system integrated to his car system.</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_7.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.8: He onboards his car and reduces volume of radio playing with the knob since he doesn't have to do it through touchscreen. </figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_8.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.9: He feels cold while waiting at the signal. The signal turns green and while accelerating, he uses his right hand slide the knob to temperature and receives vibration and visual feedbacks (HUD,Cluster) to acknowledge his action. </figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_9.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.10: Max realises he doesn't really use the navigation option as often as radio 
				and for radio. He decides to customise to his needs, slides to the last menu more option on the slider knob and customises.
				Slides knob back to old navigation point and is happy to see radio instead of navigation!</figcaption>
		</figure>
		<figure class="figure">
			<img src="img/storyboard_10.jpg" class="figure-img img-fluid" alt="Information Table">
			<figcaption class="figure-caption">Fig. 6.11: Max is building muscle memory over time with the Horizon system and is able to control his favourite radio channel and temperature while driving to his office during a rush hour.</figcaption>
		</figure>
  </section>
</div>