<div class="col-md card p-5">
	<section>
    <figure class="figure video">
      <iframe src="https://www.loom.com/embed/a49f03fe2d484a8b9a7dda72ca51306e" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <figcaption class="figure-caption">Video showcasing the system, Horizon, in action</figcaption>
    </figure>
	</section>
    <section>
      <h3>Story Overview</h3>
      <p>The video begins in a dark, nightmare-like reality, where a driver is struggling to navigate their car's complex, over cluttered, and over nested controls. This creates an overwhelming sense of frustration and helplessness. However, when the product is introduced, the scene transitions to a dreamy reality where the controls are simplified, intuitively designed, and easy to use. Horizon, a physical x digital system of secondary controls utilising contextual, multifunctional slider knob.</p>
      <p>This contrast showcases the value of the product, as it creates a positive, stress-free experience for the driver. The dreamy reality symbolises the relief and satisfaction that the product offers, emphasising its ability to help drivers navigate their car's controls with ease.</p>
    </section>
    <section class="storyboard">
      <h3>Storyboard</h3>
      <figure class="figure">
				<img src="img/storyboard_1.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_2.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_3.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_4.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_5.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_6.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_7.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_8.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_9.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
			<figure class="figure">
				<img src="img/storyboard_10.jpg" class="figure-img img-fluid" alt="Information Table">
				<figcaption class="figure-caption">An overview of the Horizon exhibition setup. Scoll down for detailed information about each stage.</figcaption>
			</figure>
    </section>
</div>