body {
  background-color: #fefcfb
}

.page {
  padding-top: 6em;
  min-height: 100vh;
}

section:not(:first-of-type) {
  padding-top: 2em;
}

.logo-container {
  
}

.logo {
  max-width: 100%;
}

.badge {
  font-size: 0.8em;
  font-weight: 500;
}

.badge.text-bg-light {
  background: #f1f1f1 !important;
  color: #777777 !important;
}

.exhibit-overview .card img {
  filter: contrast(0.7) brightness(1.8) grayscale(0.9);
}

img {
  max-width: 100%;
  height: auto;
}

.figure.video,
.figure.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.storyboard figure:not(:last-of-type) {
  margin-bottom: 4em;
}

.profile {
  padding-top: 1em;
  padding-bottom: 1em;
}

.profile img {
  border-radius:  1.6em;
  margin-right: 0.4em;
  padding-bottom: 0.2em;
  height: 3em;
  width: auto;
}

.nav-link {
  padding: 0.5em 1em;
  border-radius: 0.4em;
}

.nav-link:hover {
  background: #f6f8fc;
}

header .nav-link:hover {
  background: unset;
}

.nav-link.active {
  background: #edf5ff;
  color: #0a58ca;
  font-weight: 500;
}

ul.posters {
  padding-left: unset;
}

ul.posters li {
  list-style: none;
  line-height: 2;
}

li.xmark {
  opacity: 0.6;
}

.card,
.card-header {
  border-color: #f3f3f3;
}

section.highlight {
  background-color: #224757;
  margin-top: 2rem;
  margin-left: -1rem!important;
  margin-right: -1rem!important;
  padding: 1rem!important;
  color: white;
}

section.highlight span,
span.highlight {
  color: white;
  background: #02070a;
}

span.highlight {
  padding: 0.4rem 0.6rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: inline-block;
}

footer {
  margin-top: 8em;
  background: #132740;
  color: #abacba;
}

@media (min-width: 768px) {
  section.highlight {
    margin-left: -1.5rem!important;
    margin-right: -1.5rem!important; 
    padding: 1.5rem!important;
  }
}

@media (min-width: 992px) {
  section.highlight {
    margin-left: -3rem!important;
    margin-right: -3rem!important;
    padding: 3rem!important;
  }
  
  .figure,
  .figure-img {
    width: 100%;
  } 
}