body {
  background-color: #fefcfb
}

.page {
  padding-top: 6em;
  min-height: 100vh;
}

section:not(:first-of-type) {
  padding-top: 2em;
}

.logo-container {
  
}

.logo {
  max-width: 100%;
}

.badge {
  font-size: 0.8em;
  font-weight: 500;
}

.badge.text-bg-light {
  background: #f1f1f1 !important;
  color: #777777 !important;
}

.exhibit-overview .card img {
  filter: contrast(0.7) brightness(1.8) grayscale(0.9);
}

img {
  max-width: 100%;
  height: auto;
}

.profile {
  padding-top: 1em;
  padding-bottom: 1em;
}

.profile img {
  border-radius:  1.6em;
  margin-right: 0.4em;
  padding-bottom: 0.2em;
  height: 3em;
  width: auto;
}

.nav-link {
  padding: 0.5em 1em;
  border-radius: 0.4em;
}

.nav-link:hover {
  background: #f6f8fc;
}

header .nav-link:hover {
  background: unset;
}

.nav-link.active {
  background: #edf5ff;
  color: #0a58ca;
  font-weight: 500;
}

.card {
  border-color: #f3f3f3;
}

footer {
  margin-top: 8em;
  background: #132740;
  color: #abacba;
}